extends layout

block content
    .container
      .row
        .col-md-4
            h3 First Name
            span #{order.firstName}
            h3 Last Name
            span #{order.lastName}
            h3 Email
            span #{order.email}
            h3 Product Name
            span #{order.product}
            h3 Quantity
            span #{order.quantity}
        .col-md-8
            form(role='form', action='/editOrder', method='post')
                .form-group
                    label(for='firstName') Order Number
                    input.form-control(type='text', name='orderNumber', readonly, value='#{order.orderNumber}')
                .form-group
                    label(for='firstName') First Name
                    input.form-control(type='text', name='firstName', value='#{order.firstName}')
                .form-group
                    label(for='lastName') Last Name
                    input.form-control(type='text', name='lastName',value='#{order.lastName}')
                .form-group
                    label(for='emailAddress') Email address
                    input.form-control(type='email', name='emailAddress', value='#{order.email}')
                .form-group
                    label(for='productName') Product
                    input.form-control(type='text', name='productName', value='#{order.product}')
                .form-group
                    label(for='quantity') Quantity
                    input.form-control(type='number', name='quantity',value='#{order.quantity}')
                button.btn-primary.btn-lg.btn-block(type='submit') Submit Edit  
            