extends layout

block content   
    form(role='form', action='/editOrder', method='get')
        .form-group
        label(for='firstName') First Name
        input.form-control(type='text', name='firstName', readonly='readonly', value='#{order.firstName}')
        .form-group
        label(for='lastName') Last Name
        input.form-control(type='text', name='lastName', readonly='readonly', value='#{order.lastName}')
        .form-group
        label(for='emailAddress') Email address
        input.form-control(type='email', name='emailAddress', readonly='readonly', value='#{order.email}')
        .form-group
        label(for='productName') Product
        input.form-control(type='text', name='productName', readonly='readonly', value='#{order.product}')
        .form-group
        label(for='quantity') Quantity
        input.form-control(type='number', name='quantity', readonly='readonly', value='#{order.quantity}')
        button.btn-primary.btn-lg.btn-block(name='orderNumber', type='submit', value='#{order.orderNumber}') Edit   
    form(role='form', action="/completeOrder", method="post")
        button.btn-primary.btn-lg.btn-block.btn-success(name='orderNumber', type='submit', value='#{order.orderNumber}') Mark as Complete